<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Arduino One</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/jquery.mobile-1.0.min.css" />
    <script src="/static/jquery-1.6.4.min.js"></script>
    <script src="/static/jquery.mobile-1.0.min.js"></script>
   

  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <h1>Arduino One</h1>
      </div>

      <div data-role="content">
          <canvas id="myCanvas" width="360" height="450" style="border:1px solid #d3d3d3;">
            </canvas>
            <script>
              function deviceOrientationListener(event) {
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d");
        
                ctx.clearRect(0, 0, c.width, c.height);
                ctx.fillStyle = "#FF7777";
                ctx.font = "14px Verdana";
                ctx.fillText("Alpha: " + Math.Round(event.alpha), 10, 20);
                ctx.beginPath();
                ctx.moveTo(180, 75);
                ctx.lineTo(210, 75);
                ctx.arc(180, 75, 60, 0, event.alpha * Math.PI / 180);
                ctx.fill();
        
                ctx.fillStyle = "#FF6600";
                ctx.fillText("Beta: " + Math.round(event.beta), 10, 140);
                ctx.beginPath();
                ctx.fillRect(180, 150, event.beta, 90);
        
                ctx.fillStyle = "#FF0000";
                ctx.fillText("Gamma: " + Math.round(event.gamma), 10, 270);
                ctx.beginPath();
                ctx.fillRect(90, 340, 180, event.gamma);
              }
        
              if (window.DeviceOrientationEvent) {
                window.addEventListener("deviceorientation", deviceOrientationListener);
              } else {
                alert("Sorry, your browser doesn't support Device Orientation");
              }
            </script>
        

          <div class="garden">
              <div class="ball"></div>
            </div>
            
            <pre class="output"></pre>

            

        <h1><b> Wi-servo </b></h1>

        
          <FORM NAME="myform2" ACTION="" METHOD="GET">
            Set Server IP Address:
            <INPUT TYPE="text" id="inputbox" NAME="inputbox" VALUE="" />
        </FORM>
      
        <button id="login" data-theme="b" onclick="getip()" >Set Local IP</button>
      </div>
      <div data-role="content">

<p></p>
        <h3>Servo 1</h3>
        <input
          type="range"
          min="20"
          max="170"
          onmouseup="mouseUpSr1(this.value)"
        />
        <h3>Servo 2</h3>
        <input
          type="range"
          min="20"
          max="170"
          onmouseup="mouseUpSr2(this.value)"
        />
      </div>

      <div data-role="footer" data-position="fixed">
        <h4> --- </h4>
      </div>
    </div>

    <script>
      var ball   = document.querySelector('.ball');
var garden = document.querySelector('.garden');
var output = document.querySelector('.output');

var maxX = garden.clientWidth  - ball.clientWidth;
var maxY = garden.clientHeight - ball.clientHeight;

function handleOrientation(event) {
  var x = event.beta;  // In degree in the range [-180,180]
  var y = event.gamma; // In degree in the range [-90,90]

  output.innerHTML  = "beta : " + x + "\n";
  output.innerHTML += "gamma: " + y + "\n";

  // Because we don't want to have the device upside down
  // We constrain the x value to the range [-90,90]
  if (x >  90) { x =  90};
  if (x < -90) { x = -90};

  // To make computation easier we shift the range of 
  // x and y to [0,180]
  x += 90;
  y += 90;

  // 10 is half the size of the ball
  // It center the positioning point to the center of the ball
  ball.style.top  = (maxX*x/180 - 10) + "px";
  ball.style.left = (maxY*y/180 - 10) + "px";
}

window.addEventListener('deviceorientation', handleOrientation);



        function getip() {
            $.ajax({
              type: "GET", // define the type of HTTP verb we want to use (POST for our form)
              url: "http://gd.geobytes.com/GetCityDetails?callback=?", // the url where we want to POST
              dataType: "json" // what type of data do we expect back from the server
            })
              .done(function (data) {
          document.getElementById("inputbox").value = data.geobytesremoteip;
             
              })
              .fail(function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
              });
          }

      // function getip() {
      //   $.getJSON("http://gd.geobytes.com/GetCityDetails?callback=?", function(
      //     data
      //   ) {
      //     document.getElementById("inputbox").value = data.geobytesremoteip;
      //   });
      // }
    document.getElementById("inputbox").value = 'https://arduinoone.herokuapp.com/'
    
      $.ajaxSetup({ timeout: 1000 });

      function mouseUpSr1(angle) {
        TextVar = myform2.inputbox.value;
        ArduinoVar = "http://" + TextVar + ":80";
        $.get(ArduinoVar, { sr1: angle });
        {
          Connection: close;
        }
      }
      function mouseUpSr2(angle) {
        TextVar = myform2.inputbox.value;
        ArduinoVar = "http://" + TextVar + ":80";
        $.get(ArduinoVar, { sr2: angle });
        {
          Connection: close;
        }
      }
    </script>

    <style>
    .garden {
  position: relative;
  width : 200px;
  height: 200px;
  border: 5px solid #CCC;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top   : 90px;
  left  : 90px;
  width : 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

    </style>
  </body>
</html>
